body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"DejaVu Sans", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

p {
	text-align: justify;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
	font-family: sansation;
	font-weight: normal;
	src: url('../font/sansation/Sansation-Regular.ttf');
}

.app {
	background-color: #e0e0e0;
	color: #505860;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.header {
	/* Tint of #206080 */
	background-color: #427893;
	color: #f0f0f0;
	padding: 1mm 10mm;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.banner {
	font-family: sansation, sans-serif;
	font-size: 8mm;

	/* Match with banner-mirror */
	width: 5cm;

	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.banner-mirror {
	font-family: sansation, sans-serif;
	font-size: 8mm;

	/* Match with banner */
	width: 5cm;

	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

.hbox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.logo {
	width: 32px;
	height: 32px;
	margin: 0 8px 0 0;
	vertical-align: middle;
}

a.banner {
	color: #f0f0f0;
}

a:hover.banner {
	color: #f0f0f0;
}

.menu {
	margin: 0 0 0 0;
	vertical-align: center;
}

.menuitem {
	font-family: sansation, sans-serif;
	font-size: 7mm;
	margin: 0 2mm;
}

a.menuitem {
	color: #f0f0f0a0;
}

a:hover.menuitem {
	color: #f0f0f0;
}

.content {
	/* flex child constraints */
	flex: 1 1 auto;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.title {
	padding: 0 0 0 2mm;
	font-size: 10mm;
}

.content p {
	width: 20cm;
}

.footer {
	color: #d8d8d8;
	background-color: #427893;
	font-size: 0.4cm;
	padding: 2mm 10mm;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.tag-line {
}

.copyright {
}

.copyright a, .copyright a:hover {
	color: #f0f0f0;
}
