.product {
	margin: 0.4cm;
	width: 20cm;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}

.product-header {
	padding: 2mm;
	display: flex;
	flex-flow: row nowrap;
	/* along the main axis */
	justify-content: center;
	/* along the cross axis */
	align-items: center;
}

.product-icon {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
	margin: 0 1em 0 0;
}

.product-title {
	font-size: 1.4cm;
}

.product-bar {
	width: 20cm;
	text-align: justify;

	display: flex;
	flex-flow: row nowrap;
	/* along the main axis */
	justify-content: left;
	/* along the cross axis */
	align-items: flex-start;
}

/*.product-bar .product-icon {*/
/*	width: 64px;*/
/*	height: 64px;*/
/*}*/

.product-content {
	text-align: justify;
	padding: 2mm;
}

a {
	color: #206080;
	text-decoration: none;
}

a:hover {
	color: #427893;
}

.download-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.download {
	margin: 2mm;
	color: #e0e0e0;
	border-radius: 5px;

	display: flex;
	flex-flow: row nowrap;
	/* main axis */
	justify-content: center;
	/* cross axis */
	align-items: center;
}

.download-layout {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.download-icon {
	margin: 0 0.2em 0 0;
}

.download-metadata {
	align-self: center;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.download.primary {
	margin: 5mm 2mm;
	padding: 8mm;
}

.download.primary .title {
	font-size: 2em;
}

.download.secondary {
	flex-basis: 100%;
	padding: 2mm;
}
.download.secondary .title {
	font-size: 1em;
}

.download.stable.primary {
	background-color: #208060;
}
.download.stable.primary:hover {
	color: #f0f0f0;
	background-color: #288868;
}

.download.stable.secondary {
	background-color: #206080;
}
.download.stable:hover {
	color: #f0f0f0;
	background-color: #286888;
}

.download.latest {
	background-color: #c06000;
}
.download.latest:hover {
	color: #f0f0f0;
	background-color: #c86808;
}

.download.disabled {
	cursor: not-allowed;
	background-color: #808080;
}

.resource-row {
	margin-top: 2em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.resource-tile {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
