.doc-view {
	background: green;

	display: flex;
	flex-flow: row;
	/* along the main axis */
	justify-content: inherit;
	/* along the cross axis */
	align-items: flex-start;
}

.doc-index {
	flex: 1 1 20%;
	background: orange;
}

.doc-content {
	flex: 1 1 80%;
	background: yellow;
}