.doc-view {
	display: flex;
	flex-flow: row;
	/* along the main axis */
	justify-content: flex-start;
	/* along the cross axis */
	align-items: stretch;
}

.doc-index {
	background: #c0c0c0;
	flex: 1 1 25%;
}

.doc-index a {
	display: block;
}

.doc-content {
	margin: 0 1rem;
	padding: 0 1rem;
	flex: 1 1 75%;
	background: #f0f0f0;
}