@font-face {
	font-family: sansation;
	font-weight: normal;
	src: url('font/sansation/Sansation-Regular.ttf');
}

.app {
	background-color: #e0e0e0;
	color: #505860;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
	justify-content: center;
}

.header {
	/* Tint of #206080 */
	background-color: #427893;
	color: #f0f0f0;
	font-family: sansation, sans-serif;
	padding: 0.4cm;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-row {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.header-block {
	display: flex;
	flex-direction: column;
}

.header-logo {
	width: 2cm;
	height: 2cm;
	margin: 0 0.4cm 0 0;
}

.header-name {
	font-size: 2cm;
	letter-spacing: 1mm;
}

.product {
	padding: 0.4cm;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}

.product.space {
	width: 18cm;
}

.product.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.product.icon {
	width: 64px;
	height: 64px;
	margin: 0 1em 0 0;
}

.product.title {
	font-size: 1.4cm;
}

a {
	color: #c0c0c0;
	text-decoration: none;
}

a:hover {
	color: #e0e0e0;
}

.download {
	color: #e0e0e0;

	width: 7.5cm;
	height: 2cm;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 5px;
	margin: 0.5cm;
	padding: 0.2cm;
}

.download .title {
	font-size: 2em;
}

.download.stable {
	background-color: #206080;
}
.download.stable:hover {
	color: #f0f0f0;
	background-color: #286888;
}

.download.latest {
	background-color: #c06000;
}
.download.latest:hover {
	color: #f0f0f0;
	background-color: #c86808;
}


.download.disabled {
	cursor: not-allowed;
	background-color: #808080;
}

.footer {
	color: #d8d8d8;
	font-size: 0.4cm;
	display: flex;
	margin-top: auto;
	padding: 0.2cm;
	background-color: #206080;
}

.copyright {
	margin-right: auto;
	font-family: sansation, sans-serif;
}

.tag-line {
	margin-left: auto;
}
