[Unit]
Description=xeomar
After=syslog.target

[Service]
User=xeo
ExecStart=/opt/xeo/www/xeomar.jar --server.port=5080 --logging.file=/opt/xeo/www/xeomar.log
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
