/* Cascading Style Sheet for ParallelSymmetry Website */ /* Colors
#000000
#050B15
#0B152B
#102040
#152B55
#1B356B
#204080
#456095
#6A80AA
#90A0C0
#B5BFD5
#DADFEA
#000000
*/ /* Greys
#000000
#202020
#404040
#606060
#808080
#A0A0A0
#202020
#E0E0E0
#000000
*/
html {
	color: #202020;
	background: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	margin: 0px;
	border: 0px solid red;
}

/* Paragraphs */
p {
	margin: 0px 10px 5px 10px;
	text-align: justify;
}

/* Indented Areas */
div.preformat {
	margin: 5px 10px 5px 20px;
	font-size: 100%;
	font-family: "Courier New", monospace;
	white-space: nowrap;
}

ul {
	margin: 5px 10px 5px 0px;
	text-align: justify;
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
	margin: 5px 5px;
	padding: 0px 5px;
	color: #202020
}

td h1,h2,h2,h3,h4,h5,h6 {
	margin: 0px 0px;
	padding: 0px 0px;
	color: #202020
}

dl {
	margin-left: 10px;
	font-weight: bold;
}

dd {
	margin-left: 20px;
	font-weight: normal;
}

/* Quoted Areas */
quot {
	margin-left: 1em;
}

/* Anchors*/
a {
	text-decoration: none;
}

/*
a:link, a:visited {
	color: #202020;
}

a:hover, a:active {
	color: #000000;
}
 */ /* Menu Header Links */
a.menuhead,a.menuhead:link,a.menuhead:visited {
	width: 180px;
	font-weight: bold;
	color: #000000;
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 10px;
	display: block;
}

a.menuhead:hover,a.menuhead:active {
	width: 180px;
	font-weight: bold;
	color: #000000;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 10px;
	border: 1px solid #202020;
	display: block;
}

/* Menu Items */
a.menuitem,a.menuitem:link,a.menuitem:visited {
	width: 180px;
	color: #000000;
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 10px;
	display: block;
}

a.menuitem:hover,a.menuitem:active {
	width: 180px;
	color: #000000;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 10px;
	border: 1px solid #202020;
	display: block;
}

/* Footer Anchors*/
a.footer:link,a.footer:visited {
	font-size: 70%;
	font-weight: normal;
	color: #202020;
}

a.footer:hover,a.footer:active {
	font-size: 70%;
	font-weight: normal;
	color: #202020;
}

/* Images */
img {
	border: 0px solid yellow;
}

/* Dividers */
img.hdivider {
	background: #3563B2;
	width: 100%;
	height: 1px;
	display: block;
}

img.vdivider {
	background: #3563B2;
	width: 1px;
	height: 100%;
	display: inline;
}

/* Tables */
table {
	margin: 10px 20px;
}

th {
	text-align: center;
}

tr.header {
	background: url(images/web.banner.background.png) repeat-x;
	vertical-align: top;
}

td {
	padding: 0px 2px 0px 2px;
}

td.menu {
	padding: 0px;
	background-image: url(images/web.menu.png);
	background-repeat: no-repeat;
}

table.layout {
	margin: 0px;
}

td.layout {
	padding: 0px;
	border: 0px solid green;
}

table.embedded {
	margin: 0px 10px 0px 20px;
	border: 1px solid #204080;
}

table.portal {
	margin: 0px;
	width: 100%;
	border: 1px solid #204080;
}

th.portal {
	background: #90A0C0;
	border-bottom: 1px solid #204080;
}

/* Divs */
div.footer {
	font-size: 70%;
	padding: 0px 5px 0px 5px;
}

div.quote {
	margin: 0em 0em 0em 1em;
}

/* Downloads */
ul.download {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: none;
}

a.download {
	color: #FFFFFF;
	display: block;
	width: 288px;
	height: 96px;
}

a.download span {
	display: block;
}

a span.download {
	padding: 20px 0px 0px 96px;
}

a span.download span {
	font-size: 1.5em;
}

a.elements {
	background: transparent url(images/elements.download.png) no-repeat;
}

a.escape {
	background: transparent url(images/escape.download.png) no-repeat;
}

a.velocity {
	background: transparent url(images/velocity.download.png) no-repeat;
}

a.elements span {
	color: #FFFFFF;
}

a.escape span {
	color: #FFFFFF;
}

a.velocity span {
	color: #FFFFFF;
}

