/* Cascading Style Sheet for ParallelSymmetry Website
 
Colors
------
Palette URL: http://colorschemedesigner.com/#3J61TqEo67bJX
*/
html {
	color: replace(color-B);
	background: replace(color-W);
	font-family: Helvetica, Arial, sans-serif;
}

body {
	margin: 0px;
	border: 0px solid red;
}

/* Paragraphs */
p {
	margin: 10px 20px;
	text-align: justify;
}

pre {
	margin: 5px 10px 5px 20px;
	font-size: 100%;
	font-family: "Courier New", monospace;
}

/* Indented Areas */
div.preformat {
	margin: 5px 10px 5px 20px;
	font-size: 100%;
	font-family: "Courier New", monospace;
	white-space: nowrap;
}

ul {
	margin: 5px 10px 5px 0px;
	text-align: justify;
}

/* Headers */
h1 {
	margin: 0px 10px 10px 10px;
	padding: 0px 5px;
	color: replace(color-Sb3);
	background-color: replace(color-Sb5);
}

h2 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: replace(color-Sb3);
}

h3 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: replace(color-Sb3);
}

h4 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: replace(color-Sb3);
}

h5 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: replace(color-Sb3);
}

h6 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: replace(color-Sb3);
}

dl {
	margin-left: 10px;
	font-weight: bold;
}

dd {
	margin-left: 20px;
	font-weight: normal;
}

/* Quoted Areas */
quot {
	margin-left: 1em;
}

/* Anchors*/
a {
	text-decoration: none;
	color: replace(color-Sb3);
}

a:hover {
	color: replace(color-C3);
}

/* Header */
div#header {
	background: replace(color-P1) url(images/web.banner.background.png)
		repeat-x;
}

/* Footer */
div#footer {
	font-size: 70%;
	padding: 0px 5px 0px 5px;
	color: replace(color-Sa3);
	background: replace(color-Sa5);
	border-top: 1px solid replace(color-Sa4);
	border-bottom: 1px solid replace(color-Sa4);
}

div#footer a {
	color: replace(color-Sa3);
}

/* Bread Crumbs */
div.breadcrumbs {
	margin: 0px 0px 0px 0px;
	padding: 2px 11px 1px 11px;
	background-color: replace(color-Sa5);
	border-bottom: 1px solid replace(color-Sa4);
}

span.crumb {
	margin: 0px 0px 5px 0px;
}

span.crumb>a {
	color: replace(color-Sa3);
	background-image: url(images/folder.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0px 16px 0px 5px;
	border: 1px solid transparent;
	display: inline-block;
}

span.crumb>a:hover {
	color: replace(color-Sa5);
	background-color: replace(color-Sa3);
	border: 1px solid replace(color-Sa1);
}

span.crumb:first-child {
	font-weight: bold;
}

span.crumb:first-child a {
	color: replace(color-Sa3);
	width: 156px;
	display: inline-block;
}

span.crumb:first-child>a:hover {
	color: replace(color-Sa5);
	background-color: replace(color-Sa3);
	border: 1px solid replace(color-Sa1);
}

/* Menus */
div.menu {
	width: 180px;
	margin: 0px 0px 10px 10px;
}

div.folder>a {
	background-image: url(images/folder.png);
	background-repeat: no-repeat;
	background-position: right center;
}

div.menuitem>a {
	color: replace(color-P3);
	padding: 0px 0px 0px 5px;
	border: 1px solid transparent;
	display: block;
}

div.menuitem>a:hover,div.menuitem>a:active {
	padding: 0px 0px 0px 5px;
	border: 1px solid replace(color-P1);
}

div#rootmenu div.menuitem:first-child {
	display: none;
}

div.menuitem:first-child {
	font-weight: bold;
}

div.separator {
	margin-top: 1px;
	border-top: 1px solid replace(color-P4);
	padding-top: 1px;
	font-weight: bold;
}

/* Images */
img {
	border: 0px solid yellow;
}

/* Tables */
table {
	margin: 10px 20px;
}

th {
	text-align: center;
}

tr.header {
	background: url(images/web.banner.background.png) repeat-x;
	vertical-align: top;
}

td {
	padding: 0px 2px 0px 2px;
}

td.menu {
	padding: 0px;
	background-image: url(images/web.menu.png);
	background-repeat: no-repeat;
}

table.layout {
	margin: 0px;
}

table.layout td {
	vertical-align: top;
	padding: 0px;
	border: 0px solid green;
}

table.embedded {
	margin: 0px 10px 0px 20px;
	border: 1px solid #204080;
}

table.embedded tr:nth-child(odd) {
	background: #E8E8E8;
}

table.download {
	margin: 0px 10px 0px 20px;
	border: 0px solid #204080;
	white-space: nowrap;
}

table.download th {
	background: #F2F4F8;
	text-align: left;
	font-size: 150%;
}

table.portal {
	margin: 0px;
	width: 100%;
	border: 1px solid #204080;
}

th.portal {
	background: #90A0C0;
	border-bottom: 1px solid #204080;
}

/* Divs */
div.quote {
	margin: 0em 0em 0em 1em;
}

/* Downloads */
ul.download {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: none;
}

a.download {
	color: replace(color-W);
	display: block;
	width: 288px;
	height: 96px;
}

a.download span {
	display: block;
}

a span.download {
	padding: 20px 0px 0px 96px;
}

a span.download span {
	font-size: 1.5em;
}

a.elements {
	background: transparent url(images/elements.download.png) no-repeat;
}

a.escape {
	background: transparent url(images/escape.download.png) no-repeat;
}

a.terrace {
	background: transparent url(images/terrace.download.png) no-repeat;
}

a.velocity {
	background: transparent url(images/velocity.download.png) no-repeat;
}

a.elements span {
	color: replace(color-W);
}

a.escape span {
	color: replace(color-W);
}

a.velocity span {
	color: replace(color-W);
}