/* Cascading Style Sheet for ParallelSymmetry Website
 
Colors
------
Palette URL: http://colorschemedesigner.com/#3J61TqEo67bJX
*/
html {
	color: value(color-B);
	background: value(color-W);
	font-family: Helvetica, Arial, sans-serif;
}

body {
	margin: 0px;
	border: 0px solid red;
}

/* Paragraphs */
p {
	margin: 10px 20px;
	text-align: justify;
}

pre {
	margin: 5px 10px 5px 20px;
	font-size: 100%;
	font-family: "Courier New", monospace;
}

/* Indented Areas */
div.preformat {
	margin: 5px 10px 5px 20px;
	font-size: 100%;
	font-family: "Courier New", monospace;
	white-space: nowrap;
}

ul {
	margin: 5px 10px 5px 0px;
	text-align: justify;
}

/* Headers */
h1 {
	margin: 10px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
	color: value(color-Sb3);
	/*background-color: value(color-Sb5);*/
}

h2 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: value(color-Sb3);
}

h3 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: value(color-Sb3);
}

h4 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: value(color-Sb3);
}

h5 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: value(color-Sb3);
}

h6 {
	margin: 10px 10px;
	padding: 0px 5px;
	color: value(color-Sb3);
}

dl {
	margin-left: 10px;
	font-weight: bold;
}

dd {
	margin-left: 20px;
	font-weight: normal;
}

/* Quoted Areas */
quot {
	margin-left: 1em;
}

/* Anchors*/
a {
	text-decoration: none;
	color: value(color-Sb3);
}

a:hover {
	color: value(color-C3);
}

/* Header */
div#header {
	background: value(color-P1) url(images/web.banner.background.png)
		repeat-x;
}

/* Footer */
div#footer {
	font-size: 70%;
	padding: 0px 5px 0px 5px;
	color: value(color-C3);
	background: value(color-C5);
	border-top: 1px solid value(color-C4);
	/*border-bottom: 1px solid value(color-C4);*/
}

div#footer a {
	color: value(color-C3);
}

/* Bread Crumbs */
div.breadcrumbs {
	margin: 0px 0px 0px 0px;
	padding: 2px 11px 1px 11px;
	background-color: value(color-C5);
	border-bottom: 1px solid value(color-C4);
}

span.crumb {
	margin: 0px 0px 5px 0px;
}

span.crumb>a {
	color: value(color-C3);
	background-image: url(images/folder.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0px 16px 0px 5px;
	border: 1px solid transparent;
	display: inline-block;
}

span.crumb>a:hover {
	color: value(color-C5);
	background-color: value(color-C3);
	border: 1px solid value(color-C1);
}

span.crumb:first-child {
	font-weight: bold;
}

span.crumb:first-child a {
	color: value(color-C3);
	width: 156px;
	display: inline-block;
}

span.crumb:first-child>a:hover {
	color: value(color-C5);
	background-color: value(color-C3);
	border: 1px solid value(color-C1);
}

/* Menus */
div.menu {
	width: 180px;
	margin: 0px 0px 10px 10px;
}

div.folder>a {
	background-image: url(images/folder.png);
	background-repeat: no-repeat;
	background-position: right center;
}

div.menuitem>a {
	color: value(color-Sb3);
	padding: 0px 0px 0px 5px;
	border: 1px solid transparent;
	display: block;
}

div.menuitem>a:hover,div.menuitem>a:active {
	padding: 0px 0px 0px 5px;
	border: 1px solid value(color-Sb1);
	background-color: value(color-Sb5);
}

div#rootmenu div.menuitem:first-child {
	display: none;
}

div.menuitem:first-child {
	font-weight: bold;
}

div.separator {
	color: value(color-Sb2);
	margin: 10px 0px 1px 0px;
	padding: 0px 0px 0px 6px;
	border-bottom: 1px solid value(color-Sb1);
	padding-top: 1px;
	font-weight: bold;
	font-size: small;
}

/* Images */
img {
	border: 0px solid yellow;
}

/* Tables */
table {
	margin: 10px 20px;
}

th {
	text-align: center;
}

td {
	padding: 0px 2px 0px 2px;
}

td.menu {
	padding: 0px;
	background-image: url(images/web.menu.png);
	background-repeat: no-repeat;
	background-image: url(images/web.menu.png);
}

table.layout {
	margin: 0px;
}

table.layout td {
	vertical-align: top;
	padding: 0px;
	border: 0px solid green;
}

table.embedded {
	margin: 0px 10px 0px 20px;
	border: 1px solid value(color-Sb1);
}

table.embedded tr:nth-child(odd) {
	background: value(color-Sb5);
}

table.download {
	margin: 0px 10px 0px 20px;
	border: 0px solid value(color-Sb1);
	white-space: nowrap;
}

table.download th {
	background: value(color-Sb5);
	text-align: left;
	font-size: 150%;
}

table.portal {
	margin: 0px;
	width: 100%;
	border: 1px solid value(color-Sb1);
}

th.portal {
	background: value(color-Sb5);
	border-bottom: 1px solid value(color-Sb1);
}

/* Divs */
div.quote {
	margin: 0em 0em 0em 1em;
}

/* Tickets */
a.ticket {
	color: value(color-Sb5);
}

a.ticket:hover {
	color: value(color-W);
}

span.ticket {
	width: 250px;
	height: 72px;
	margin: 10px 10px 10px 50px;
	border: 1px solid value(color-Sb1);
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: value(color-Sb3) url(images/ticket.background.png) repeat-x;
	position: relative;
	display: inline-block;
}

span.ticket>img {
	border: 0px;
	float: left;
	position: absolute;
	top: -12px;
	left: -48px;
}

span.ticket>span {
	position: absolute;
	top: 8px;
	left: 48px;
}

span.ticket span.title {
	font-size: 1.5em;
	display: block;
}
